apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.NameWithTrack}}
  namespace: {{.Namespace}}
  labels:
    {{- range $key, $value := .Labels}}
    {{$key}}: {{$value}}
    {{- end}}
spec:
  {{- if .IncludeReplicas}}
  replicas: {{.Replicas}}
  {{- end}}
  strategy:
    type: {{.StrategyType}}
    {{- if eq .StrategyType "RollingUpdate" }}
    rollingUpdate:
      maxSurge: {{.RollingUpdateMaxSurge}}
      maxUnavailable: {{.RollingUpdateMaxUnavailable}}
    {{- end}}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{.AppLabelSelector}}
      {{- if .IncludeTrackLabel}}
      track: {{.TrackLabel}}
      {{- end}}
  template:
    metadata:
      labels:
        {{- range $key, $value := .PodLabels}}
        {{$key}}: "{{$value}}"
        {{- end}}
        {{- if .IncludeTrackLabel}}
        track: {{.TrackLabel}}
        {{- end}}
      annotations:
        prometheus.io/scrape: "{{.Container.Metrics.Scrape}}"
        prometheus.io/path: "{{.Container.Metrics.Path}}"
        prometheus.io/port: "{{.Container.Metrics.Port}}"
        prometheus.io/scrape-nginx-sidecar: "{{.HasOpenrestySidecar}}"
        {{- if .AddSafeToEvictAnnotation }}
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
        {{- end}}
    spec:
      {{- if .HasTolerations }}
      tolerations:
{{(call $.ToYAML .Tolerations) | indent 6}}
      {{- end}}
      {{- if .HasImagePullSecret }}
      imagePullSecrets:
      - name: {{.Name}}-image-pull-secret
      {{- end}}
      serviceAccount: {{.Name}}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{.Name}}
              topologyKey: kubernetes.io/hostname
        {{- if .PreferPreemptibles}}
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            preference:
              matchExpressions:
              - key: cloud.google.com/gke-preemptible
                operator: In
                values:
                - "true"
        {{- end}}
      {{- if .HasInitContainers }}
      initContainers:
{{(call $.ToYAML .InitContainers) | indent 6}}
      {{- end}}
      containers:
      - name: {{.Name}}
        image: {{.Container.Repository}}/{{.Container.Name}}:{{.Container.Tag}}
        imagePullPolicy: IfNotPresent
        env:
        - name: "JAEGER_AGENT_HOST"
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: "JAEGER_SAMPLER_MANAGER_HOST_PORT"
          value: "http://$(JAEGER_AGENT_HOST):5778/sampling"
        {{- range $key, $value := .Container.EnvironmentVariables }}
        - name: "{{ $key }}"
          {{- if (call $.IsSimpleEnvvarValue $value) }}
          value: "{{ $value }}"
          {{- else }}
{{(call $.RenderToYAML $value $) | indent 10}}
          {{- end }}
        {{- end }}
        resources:
          requests:
            cpu: {{.Container.CPURequest}}
            memory: {{.Container.MemoryRequest}}
          limits:
            cpu: {{.Container.CPULimit}}
            memory: {{.Container.MemoryLimit}}
        ports:
        - name: web
          containerPort: {{.Container.Port}}
        {{- range .AdditionalContainerPorts}}
        - name: {{.Name}}
          containerPort: {{.Port}}
          protocol: {{.Protocol}}
        {{- end}}
        {{- if .Container.Liveness.IncludeOnContainer }}
        livenessProbe:
          httpGet:
            path: {{.Container.Liveness.Path}}
            port: {{.Container.Liveness.Port}}
          initialDelaySeconds: {{.Container.Liveness.InitialDelaySeconds}}
          timeoutSeconds: {{.Container.Liveness.TimeoutSeconds}}
          periodSeconds: {{.Container.Liveness.PeriodSeconds}}
          failureThreshold: {{.Container.Liveness.FailureThreshold}}
          successThreshold: {{.Container.Liveness.SuccessThreshold}}
        {{- end }}
        {{- if .Container.Readiness.IncludeOnContainer }}
        readinessProbe:
          httpGet:
            path: {{.Container.Readiness.Path}}
            port: {{.Container.Readiness.Port}}
          initialDelaySeconds: {{.Container.Readiness.InitialDelaySeconds}}
          timeoutSeconds: {{.Container.Readiness.TimeoutSeconds}}
          periodSeconds: {{.Container.Readiness.PeriodSeconds}}
          failureThreshold: {{.Container.Readiness.FailureThreshold}}
          successThreshold: {{.Container.Readiness.SuccessThreshold}}
        {{- end }}
        {{- if or .MountApplicationSecrets .MountConfigmap .MountServiceAccountSecret .MountPayloadLogging .MountAdditionalVolumes }}
        volumeMounts:
        {{- if .MountApplicationSecrets }}
        - name: app-secrets
          mountPath: {{.SecretMountPath}}
        {{- end }}
        {{- if .MountConfigmap }}
        - name: app-configs
          mountPath: {{.ConfigMountPath}}
        {{- end }}
        {{- if or .MountServiceAccountSecret }}
        - name: gcp-service-account
          mountPath: /gcp-service-account
        {{- end }}
        {{- if .MountPayloadLogging }}
        - name: pod-log
          mountPath: /var/log/travix
        {{- end }}
        {{- range .AdditionalVolumeMounts}}
        - name: {{.Name}}
          mountPath: {{.MountPath}}
        {{- end}}
        {{- end }}
        {{- if .Container.UseLifecyclePreStopSleepCommand }}
        lifecycle:
          preStop:
            exec:
              command:
              - /bin/sleep
              - {{.Container.PreStopSleepSeconds}}s
        {{- end}}
      {{ $deployment := . }}
      {{- range .Sidecars}}
        {{- if eq .Type "openresty" }}
      - name: {{$deployment.Name}}-openresty
        image: {{.Image}}
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: {{.CPURequest}}
            memory: {{.MemoryRequest}}
          limits:
            cpu: {{.CPULimit}}
            memory: {{.MemoryLimit}}
        ports:
        - name: http
          containerPort: 80
        {{- if not $deployment.UseESP }}
        - name: https
          containerPort: 443
        {{- end}}
        - name: nginx-liveness
          containerPort: 82
        - name: nginx-readiness
          containerPort: 81
        - name: nginx-prom
          containerPort: 9101
        env:
        - name: "JAEGER_AGENT_HOST"
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: "JAEGER_SAMPLER_MANAGER_HOST_PORT"
          value: "http://$(JAEGER_AGENT_HOST):5778/sampling"
        - name: "OFFLOAD_TO_HOST"
          value: "127.0.0.1"
        - name: "OFFLOAD_TO_PORT"
          value: "{{$deployment.Container.Port}}"
        - name: "SERVICE_NAME"
          value: "{{$deployment.Name}}"
        - name: "NAMESPACE"
          value: "{{$deployment.Namespace}}"
        - name: "HEALT_CHECK_PATH"
          value: "{{index .SidecarSpecificProperties "healthcheckpath"}}"
        {{- range $key, $value := .EnvironmentVariables }}
        - name: "{{ $key }}"
          {{- if (call $.IsSimpleEnvvarValue $value) }}
          value: "{{ $value }}"
          {{- else }}
{{(call $.RenderToYAML $value $) | indent 10}}
          {{- end }}
        {{- end }}
        volumeMounts:
        - name: ssl-certificate
          mountPath: /etc/ssl/private
        livenessProbe:
          httpGet:
            path: /liveness
            port: nginx-liveness
          initialDelaySeconds: 15
        readinessProbe:
          httpGet:
            path: {{$deployment.Container.Readiness.Path}}
            {{- if not $deployment.UseESP }}
            port: https
            scheme: HTTPS
            {{- else }}
            port: http
            {{- end}}
          initialDelaySeconds: {{$deployment.Container.Readiness.InitialDelaySeconds}}
          timeoutSeconds: {{$deployment.Container.Readiness.TimeoutSeconds}}
          periodSeconds: {{$deployment.Container.Readiness.PeriodSeconds}}
          failureThreshold: {{$deployment.Container.Readiness.FailureThreshold}}
          successThreshold: {{$deployment.Container.Readiness.SuccessThreshold}}
        {{- if .HasCustomProperties }}
{{.CustomPropertiesYAML | indent 8}}
        {{- end }}
        {{- else if eq .Type "esp" }}
      - name: {{$deployment.Name}}-esp
        image: {{.Image}}
        imagePullPolicy: IfNotPresent
        args: [
          "--ssl_port", "8443",
          "--backend", "127.0.0.1:80",
          "--service", "{{$deployment.HostsJoined}}",
          "--service_account_key", "/gcp-service-account/service-account-key.json",
          {{- if $deployment.HasEspConfigID }}
          "--version","{{$deployment.EspConfigID}}"
          {{- else }}
          "--rollout_strategy", "managed"
          {{- end }}
        ]
        resources:
          requests:
            cpu: {{.CPURequest}}
            memory: {{.MemoryRequest}}
          limits:
            cpu: {{.CPULimit}}
            memory: {{.MemoryLimit}}
        ports:
        - name: https
          containerPort: 8443
        - name: esp-status
          containerPort: 8090
        volumeMounts:
        - name: ssl-certificate-esp
          mountPath: /etc/nginx/ssl
        - name: gcp-service-account
          mountPath: /gcp-service-account
        livenessProbe:
          httpGet:
            path: /healthz
            port: esp-status
          initialDelaySeconds: 15
        {{- if .HasCustomProperties }}
{{.CustomPropertiesYAML | indent 8}}
        {{- end }}
        {{- else if eq .Type "cloudsqlproxy" }}
      - name: {{$deployment.Name}}-cloudsql-proxy
        image: {{.Image}}
        {{- if .HasEnvironmentVariables }}
        env:
        {{- range $key, $value := .EnvironmentVariables }}
        - name: "{{ $key }}"
          {{- if (call $.IsSimpleEnvvarValue $value) }}
          value: "{{ $value }}"
          {{- else }}
{{(call $.RenderToYAML $value $) | indent 10}}
          {{- end }}
        {{- end }}
        {{- end }}
        resources:
          requests:
            cpu: {{.CPURequest}}
            memory: {{.MemoryRequest}}
          limits:
            cpu: {{.CPULimit}}
            memory: {{.MemoryLimit}}
        command: ["/cloud_sql_proxy",
                  "-instances={{ index .SidecarSpecificProperties "dbinstanceconnectionname" }}=tcp:{{ index .SidecarSpecificProperties "sqlproxyport" }}",
                  "-credential_file=/gcp-service-account/service-account-key.json",
                  "-term_timeout={{ index .SidecarSpecificProperties "sqlproxyterminationtimeoutseconds" }}s"]
          {{- if or $deployment.MountServiceAccountSecret }}
        volumeMounts:
          - name: gcp-service-account
            mountPath: /gcp-service-account
          {{- end }}
        {{- if .HasCustomProperties }}
{{.CustomPropertiesYAML | indent 8}}
        {{- end }}
        {{- else  }}
      - name: {{$deployment.Name}}-{{.Type}}
        image: {{.Image}}
        {{- if .HasEnvironmentVariables }}
        env:
        {{- range $key, $value := .EnvironmentVariables }}
        - name: "{{ $key }}"
          {{- if (call $.IsSimpleEnvvarValue $value) }}
          value: "{{ $value }}"
          {{- else }}
{{(call $.RenderToYAML $value $) | indent 10}}
          {{- end }}
        {{- end }}
        {{- end }}
        resources:
          requests:
            cpu: {{.CPURequest}}
            memory: {{.MemoryRequest}}
          limits:
            cpu: {{.CPULimit}}
            memory: {{.MemoryLimit}}
        {{- if or $deployment.MountApplicationSecrets $deployment.MountConfigmap $deployment.MountServiceAccountSecret $deployment.MountAdditionalVolumes }}
        volumeMounts:
        {{- if $deployment.MountApplicationSecrets }}
        - name: app-secrets
          mountPath: {{$deployment.SecretMountPath}}
        {{- end }}
        {{- if $deployment.MountConfigmap }}
        - name: app-configs
          mountPath: {{$deployment.ConfigMountPath}}
        {{- end }}
        {{- if $deployment.MountServiceAccountSecret }}
        - name: gcp-service-account
          mountPath: /gcp-service-account
        {{- end }}
        {{- range $deployment.AdditionalVolumeMounts}}
        - name: {{.Name}}
          mountPath: {{.MountPath}}
        {{- end}}
        {{- end}}
        {{- if .HasCustomProperties }}
{{.CustomPropertiesYAML | indent 8}}
        {{- end }} 
        {{- end }}
      {{- end }}
      {{- if .HasCustomSidecars }}
{{(call $.ToYAML .CustomSidecars) | indent 6}}
      {{- end}}
      terminationGracePeriodSeconds: 300
      {{- if .MountVolumes }}
      volumes:
      {{- if .MountSslCertificate }}
      - name: ssl-certificate
        secret:
          {{- if .UseCertificateSecret }}
          secretName: {{.CertificateSecretName}}
          {{- else }}
          secretName: {{.Name}}-letsencrypt-certificate
          {{- end }}
      {{- end }}
      {{- if .UseESP }}
      - name: ssl-certificate-esp
        secret:
          {{- if .UseCertificateSecret }}
          secretName: {{.CertificateSecretName}}
          {{- else }}
          secretName: {{.Name}}-letsencrypt-certificate
          {{- end }}
          items:
          - key: ssl.crt
            path: nginx.crt
          - key: ssl.key
            path: nginx.key
      {{- end }}
      {{- if .MountApplicationSecrets }}
      - name: app-secrets
        secret:
          secretName: {{.NameWithTrack}}-secrets
      {{- end }}
      {{- if .MountConfigmap }}
      - name: app-configs
        configMap:
          name: {{.NameWithTrack}}-configs
      {{- end }}
      {{- if or .MountServiceAccountSecret }}
      - name: gcp-service-account
        secret:
          secretName: {{.GoogleCloudCredentialsAppName}}-gcp-service-account
      {{- end }}
      {{- if .MountPayloadLogging }}
      - name: pod-log
        hostPath:
          path: /var/log/fluentd-payload-logger/{{.Name}}
          type: DirectoryOrCreate
      - name: var-log
        hostPath:
          path: /var/log
      {{- end }}
      {{- range .AdditionalVolumeMounts}}
      - name: {{.Name}}
{{.VolumeYAML | indent 8}}
      {{- end}}
      {{- end }}