apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}{{- if .UseESP }}-cluster-ip{{-end }}
  namespace: {{.Namespace}}
  labels:
    {{- range $key, $value := .Labels}}
    {{ $key | quote }}: {{ $value | quote }}
    {{- end}}
  annotations:
    {{- if .UsePrometheusProbe}}
    prometheus.io/probe: "true"
    prometheus.io/probe-path: "{{.Container.Readiness.Path}}"
    {{- end}}
    service.alpha.kubernetes.io/app-protocols: '{"https":"HTTPS"}'
    {{- if .UseDNSAnnotationsOnService}}
    estafette.io/cloudflare-dns: "true"
    estafette.io/cloudflare-proxy: "{{.UseCloudflareProxy}}"
    estafette.io/cloudflare-hostnames: "{{.HostsJoined}}"
    {{- end}}
    {{- if .UseBackendConfigAnnotationOnService}}
    beta.cloud.google.com/backend-config: '{"default": "{{.Name}}"}'
    {{- end}}
    {{- if .UseNegAnnotationOnService}}
    cloud.google.com/neg: '{"ingress": true}'
    {{- end}}
spec:
  type: {{.ServiceType}}
  {{- if .LimitTrustedIPRanges}}
  loadBalancerSourceRanges:
  {{- range .TrustedIPRanges}}
  - {{.}}
  {{- end}}
  {{- end}}
  ports:
  {{- if .HasOpenrestySidecar }}
  {{- if not .UseESP }}
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  {{- end }}
  - name: https
    port: 443
    targetPort: https
    protocol: TCP
  {{- else }}
  - name: web
    port: {{.Container.Port}}
    targetPort: web
    protocol: TCP
  {{- end}}
  {{- range .AdditionalServicePorts}}
  - name: {{.Name}}
    port: {{.Port}}
    targetPort: {{.Name}}
    protocol: {{.Protocol}}
  {{- end}}
  selector:
    "app": {{ .AppLabelSelector | quote }}
    {{- if .IncludeAtomicIDSelector }}
    "estafette.io/atomic-id": {{ .AtomicID | quote }}
    {{- end}}